/****** General ***********/
* {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  box-sizing: border-box;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

body {
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 35px;
  width: 100%;
  max-width: 1440px;
  min-width: 320px;
  padding: 0 50px;

  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
  font-weight: 700;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Navigation ***********/
nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 50px 30px 0;
}

.logo img {
  width: 37.92%;
}

nav ul {
  display: flex;
  list-style: none;
  width: 25.67%;
  padding: 0px 50px;
  gap: 68px;
  margin: 0;
}

nav ul li {
  display: flex;
  gap: 68px;
  width: 100%;
}

.nav-link {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: var(--main-color);
}

.nav-link:hover::before,
.nav-link:focus::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  top: -23%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
}

/*******  Header *******/

header {
  display: flex;
  flex-direction: column;
  gap: 35px;
  margin-top: 35px;
}

.title {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.title h1,
.title p {
  margin: 0;
}

.title h1 {
  font-size: 22px;
  font-weight: 700;
}

.title p {
  font-size: 16px;
  font-weight: 400;
}

.search {
  display: flex;
  justify-content: space-between;
  width: 31%;
  border-radius: 15px;
  border: 1px solid var(--main-bg-color);
  color: #fff;
}

.search .search-locate {
  width: 50px;
  border-radius: 15px 0 0 15px;
  background-color: var(--main-bg-color);
  border: 1px solid var(--filter-bg-color);
}

.search i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  cursor: pointer;
}

.search input {
  width: 51.72%;
  border: none;
  font-weight: 700;
  text-align: center;
  line-height: 100%;
}

.search input::placeholder {
  color: #000;
}

.search button {
  width: 35%;
  background-color: var(--main-color);
  border: 1px solid var(--main-color);
  border-radius: 0 15px 15px 0;
  padding: 15px 16px;
  color: #fff;
  text-align: center;
  font-weight: 700;
}

.search .search-btn {
  min-width: 25%;
}

button i.fa-magnifying-glass {
  display: none;
}

.btn-text {
  display: inline;
}

.search button:hover {
  cursor: pointer;
}

#filtres {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 56.56%;
}

.filtre-title {
  font-weight: 700;
}

#pills {
  display: flex;
  width: 100%;
  gap: 20px;
}

.pill {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-height: 50px;
  padding: 12px 19px;
  gap: 10px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
}

.pill:hover {
  background-color: var(--filter-bg-color);
  cursor: pointer;
}

.pill .fa-money-bill-wave,
.pill .fa-child {
  width: 22px;
  height: 22px;
}

.pill-title {
  font-size: 17px;
  font-weight: 700;
  white-space: nowrap;
  margin: 0;
}

header .info {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .info i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  font-size: 14px;
  line-height: 1;
}

header .info .info-text {
  font-size: 16px;
  font-weight: 400;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 15px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
#hebergements {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 65%;
  padding: 30px;
}

.hebergement-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  align-items: stretch;
}

.hebergement-cards a {
  width: 30%;
}

.hebergement-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
  width: 100%;
  min-height: fit-content;
  gap: 4px;
  transition: all 0.2s ease-out;
}

.hebergement-cards .card:hover {
  transform: scale(1.1);
}

.hebergement-cards .card img {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 20px 20px 0 0;
}

.hebergement-cards .card-content {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 8px;
  padding: 0 15px;
}

.hebergement-cards .card-txt {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
}

.hebergement-cards .card .card-title {
  margin: 0;
}

.hebergement-cards .card .card-subtitle,
.hebergement-cards .card .card-subtitle .euro {
  font-size: 14px;
}

.hebergement-cards .card .card-subtitle {
  margin: 0;
  font-weight: 400;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 67%;
  padding-left: 15px;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités  **************/

#activity {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 30px;
}

.activity-cards {
  display: flex;
  gap: 30px;
}

.activity-cards a {
  width: 25%;
}

.activity-cards .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: fit-content;
  padding: 0;
  transition: all 0.2s ease-out;
}

.activity-cards .card:hover {
  transform: scale(1.1);
}

.activity-cards .card img {
  aspect-ratio: 3/4;
  width: 100%;
  border-radius: 20px 20px 0 0;
}

.activity-cards .card .card-content {
  display: flex;
  justify-content: start;
  gap: 10px;
  padding: 20px 19px;
  border-radius: 0 0 20px 20px;
}

.activity-cards .card .card-title {
  margin: 0;
}

/******* Footer **********/

footer {
  display: flex;
  justify-content: space-between;
  background-color: var(--main-bg-color);
}

footer .propos,
footer .nohebergement,
footer .assistance {
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  gap: 15px;
}

.footer-title {
  margin: 0;
  font-weight: 700;
}

footer .footer-links {
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

footer .footer-links li a {
  font-weight: 400;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .main-container {
    gap: 30px;
  }

  nav ul {
    width: auto;
    padding: 0;
  }

  .nav-link:hover {
    color: var(--main-color);
    cursor: pointer;
  }

  .nav-link:active {
    color: var(--main-color);
  }

  .nav-link:hover::before {
    display: none;
  }

  .nav-link:active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: -23%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
  }

  .search {
    width: 60%;
  }

  #filtres {
    flex-direction: column;
    align-items: start;
  }

  .pill:active {
    background-color: var(--filter-bg-color);
  }

  .hebergements-and-populaires {
    flex-direction: column;
  }

  #hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  .activity-cards {
    display: flex;
    align-items: stretch;
  }

  .activity-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    padding: 0;
    height: 100%;
  }

  .activity-cards .card .card-content {
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 15px 19px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }

  nav {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    padding-bottom: 5%;
    border-bottom: 2px solid var(--main-bg-color);
  }

  .logo {
    justify-content: end;
    width: 100%;
    padding: 0;
  }

  .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .logo img {
    width: 33%;
    padding: 30px;
  }

  nav ul {
    position: relative;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    gap: 15px;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  .nav-link:hover {
    color: inherit;
  }

  .nav-link:active {
    color: var(--main-color);
  }

  .nav-link:hover::before {
    display: none;
  }

  .nav-link:active::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    top: 200%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--main-color);
  }

  header {
    padding: 0 20px;
  }

  .search {
    width: 100%;
  }

  .search .search-locate {
    box-shadow: none;
  }

  .search button {
    width: 50px;
    border-radius: 15px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  button i.fa-magnifying-glass {
    display: inline;
    background-color: transparent;
    border: none;
    color: #fff;
  }

  .btn-text {
    display: none;
  }

  #filtres {
    width: 100%;
  }

  #pills {
    flex-wrap: wrap;
    gap: 10px;
  }

  .pill {
    width: 48%;
  }

  .pill:hover {
    background-color: transparent;
    cursor: default;
  }

  .pill:active,
  .pill:has(> :active) {
    background-color: var(--filter-bg-color);
  }

  .hebergements-and-populaires {
    flex-direction: column;
    justify-content: start;
    gap: 15px;
  }

  .hebergements-and-populaires section {
    width: 100%;
    border-radius: 0;
  }

  .populaires {
    display: flex;
    flex-direction: column;
    gap: 15px;
    order: 0;
    padding: 30px 20px !important;
    margin-top: 15px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .populaires-cards a {
    width: 100%;
  }

  .populaires-cards .card,
  .hebergement-cards .card {
    margin: 0;
  }

  #hebergements {
    order: 2;
    background-color: #fff;
    padding: 20px;
    gap: 15px;
  }

  .hebergement-cards {
    gap: 15px;
  }

  .hebergement-cards a {
    width: 100%;
  }

  .hebergement-cards .card img {
    height: 124px;
  }

  .activity-cards {
    flex-direction: column;
    gap: 15px;
  }

  .activity-cards a {
    width: 100%;
  }

  .activity-cards .card img {
    aspect-ratio: 16/9;
  }

  footer {
    flex-direction: column;
    padding: 15px;
    max-width: 100vw;
    overflow-x: hidden;
  }
}
